.metals/
.vscode
__pycache__/
data/ml-10m_new/
raw_data/ia-movielens-user2tags-10m
raw_data/Enron_new
raw_data/yelp
raw_data/Yelp_old
data/Enron_new/graph_0.npz
data/Enron_new/graph_1.npz
data/Enron_new/graph_2.npz
data/Enron_new/graph_3.npz
data/Enron_new/graph_4.npz
data/Enron_new/graph_5.npz
data/Enron_new/graph_6.npz
data/Enron_new/graph_7.npz
data/Enron_new/graph_8.npz
data/Enron_new/graph_9.npz
data/Enron_new/graph_10.npz
data/Enron_new/graph_11.npz
data/Enron_new/graph_12.npz
data/Enron_new/graph_13.npz
data/Enron_new/graph_14.npz
data/Enron_new/graph_15.npz
data/Enron_new/graphs.npz
data/Enron_new/pairs_0.pkl
data/Enron_new/pairs_1.pkl
data/Enron_new/pairs_2.pkl
data/Enron_new/pairs_3.pkl
data/Enron_new/pairs_4.pkl
data/Enron_new/pairs_5.pkl
data/Enron_new/pairs_6.pkl
data/Enron_new/pairs_7.pkl
data/Enron_new/pairs_8.pkl
data/Enron_new/pairs_9.pkl
data/Enron_new/pairs_10.pkl
data/Enron_new/pairs_11.pkl
data/Enron_new/pairs_12.pkl
data/Enron_new/pairs_13.pkl
data/Enron_new/pairs_14.pkl
data/Enron_new/pairs_15.pkl
raw_data/.DS_Store
raw_data/enron_raw/.DS_Store
raw_data/enron_raw/Enron_new/graph_0.npz
raw_data/enron_raw/Enron_new/graph_1.npz
raw_data/enron_raw/Enron_new/graph_2.npz
raw_data/enron_raw/Enron_new/graph_3.npz
raw_data/enron_raw/Enron_new/graph_4.npz
raw_data/enron_raw/Enron_new/graph_5.npz
raw_data/enron_raw/Enron_new/graph_6.npz
raw_data/enron_raw/Enron_new/graph_7.npz
raw_data/enron_raw/Enron_new/graph_8.npz
raw_data/enron_raw/Enron_new/graph_9.npz
raw_data/enron_raw/Enron_new/graph_10.npz
raw_data/enron_raw/Enron_new/graph_11.npz
raw_data/enron_raw/Enron_new/graph_12.npz
raw_data/enron_raw/Enron_new/graph_13.npz
raw_data/enron_raw/Enron_new/graph_14.npz
raw_data/enron_raw/Enron_new/graph_15.npz
raw_data/enron_raw/Enron_new/pairs_0.pkl
raw_data/enron_raw/Enron_new/pairs_1.pkl
raw_data/enron_raw/Enron_new/pairs_2.pkl
raw_data/enron_raw/Enron_new/pairs_3.pkl
raw_data/enron_raw/Enron_new/pairs_4.pkl
raw_data/enron_raw/Enron_new/pairs_5.pkl
raw_data/enron_raw/Enron_new/pairs_6.pkl
raw_data/enron_raw/Enron_new/pairs_7.pkl
raw_data/enron_raw/Enron_new/pairs_8.pkl
raw_data/enron_raw/Enron_new/pairs_9.pkl
raw_data/enron_raw/Enron_new/pairs_10.pkl
raw_data/enron_raw/Enron_new/pairs_11.pkl
raw_data/enron_raw/Enron_new/pairs_12.pkl
raw_data/enron_raw/Enron_new/pairs_13.pkl
raw_data/enron_raw/Enron_new/pairs_14.pkl
raw_data/enron_raw/Enron_new/pairs_15.pkl
data/Enron_new/graphs.npz
